.nav {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff;
  z-index: 22;
}

.heading {
  font-weight: 700;
  padding: 0;
  margin: 0;
  font-size: 18px;
  margin-top: rem;
}

.names {
  display: flex;
  padding: 10px 20px;
  gap: 1rem;
  margin-top: 4rem;
}

.askquestion {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 1rem;
}
.askquestion p {
  color: #715de9;
}
.addQuestion {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.button {
  padding: 3px 15px;
  background-color: #715de9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  cursor: pointer;
}

.button1 {
  margin-left: 2rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.question {
  font-size: larger;
  padding-left: 1rem;
  margin-top: 0;
  font-weight: 600;
}

.views {
  padding: 0 1rem;
  margin: 1rem;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  align-items: center;
  border: 1px solid #f2f2f2;
  background-color: #fafafa;
  border-radius: 3px;
}
.views p {
  padding: 0;
  margin: 0.5rem;
}

.comments {
  padding: 0 1rem;
  display: flex;
}

.icons {
  margin-right: 6px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.comments p {
  margin: 0;
}

.commentsArea {
  display: flex;
}

.text {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0.4rem;
  border-bottom: 1px solid #aaacaf;
}
.text p {
  margin-top: 0;
}
.textArea {
  
  margin-left: 1.4rem;
  width: 90%;
  background-color: #fcfcfd;
  border: 1px solid #e0e0eb;
  border-radius: 5px;
  padding: 5px;
  font-size: 1.2rem;
}

.answer {
  padding: 0.5rem;
  
  padding-bottom: 0;
}
.answerSection{
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 1rem;
  padding-top: 0.5rem;
 
}

.similarQuestion {
  padding-bottom: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
 

}

.queh1 {
  padding-left: 1rem;
}

.sidebar {
  position: fixed;
  top: 3.3rem;
  left: 0;
  height: 100%;
  
  background-color: #fff;
  overflow-y: auto;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  
}

.sidebarContent p {

 padding: 1rem 2.5rem;
 text-align: center;
 font-weight: 600;

}
.sidebarContent {
  margin-top: 3rem;
}
.category {
  cursor: pointer;
}
.category:hover {
  background-color: #f2f2fd;

}
.activeCategory {
  background-color: #eaeef4;
  cursor: pointer;
  

}

.toggleButton {
  position: fixed;
    top: 1.7rem;
    left: 0rem;
    z-index: 999;
    background-color: #fff;
    border: none;
    cursor: pointer;
    display: none;
}
 

@media screen and (max-width: 800px) {
  .sidebar {
    display: none;
  }
  .toggleButton {
    display: block;
  }
  .arrowIcon {
    margin-left: -10px;
    margin-top: -26px;
  }
}

.sideArea {
  background-color: #fff;
  width: 25vw;
 
}
.sideAreaContent {
 
  margin-top: 7.6rem;
  margin-right: 1rem;
}
  .relatedQuestion {
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color:#fff;
    margin-bottom: 1rem;
    border-radius: 5px;
    padding-bottom: 1rem;
    
  }
  .subcategories {
    box-shadow: inset 0 0 4px 0 rgba(0, 0, 0, 0.1);
    background-color:#fff;
    /* margin-bottom: 1rem; */
    /* padding-bottom: 1rem; */
    padding-bottom: 0.5rem;
    border-radius: 5px;
  
    
  }

  .subcategories div {
    padding: 1rem;
   
  }
  .subcategories
   div:hover {
    background-color: #f7f7f8;
    
   }
  .subcategories  p {
    padding: 1rem ;
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    font-weight: 700;
  }
  .subcategory a   {
    text-decoration: none;
    /* padding: 1rem; */
    padding-bottom: 0.3rem;
  }

  .head {
    padding: 1rem;
    /* padding-bottom: 1rem; */
    border-bottom: 1px solid  rgba(0, 0, 0, 0.1);
    font-weight: 700;
  }
  .questionList div {
    text-decoration: none;
    padding: 1rem;
    padding-bottom: 0.3rem;
    /* margin-bottom: 1rem; */

  }
  .questionList
   div:hover {
    background-color: #f7f7f8;
   }

  .questionList div a {
    text-decoration: none;
    
  }

.poster{
  margin-bottom: 1rem;
}



.maincontainer {
  display: grid;
  grid-template-columns: 1fr 5fr 2fr;
  grid-column-gap: 2rem;
}

@media screen and (max-width: 1200px) {
  .maincontainer {
    display: grid;
    grid-template-columns: 1fr 4fr 1.3fr;
    grid-row-gap: 0.5rem;
  }

  
}

@media screen and (max-width: 1000px) {
  .maincontainer {
    display: grid;
    grid-template-columns: 1fr 5fr  ;
    position: relative;
    
  }
  .section {
    width: 20%;
  }
  .sideArea {
     position: absolute;
     left: 12rem;
     width: 75vw;  
  }
  .sideAreaContent {
    margin-top: 0.5rem;
  }
 .poster  {
  display: none;
 }
 .subcategories {
  display: none;
 }
}
/* @media screen and (max-width: 900px) {
  .maincontainer {
    display: grid;
    grid-template-columns: 1fr 4fr;
    
   
  }
  .section {
    width: 20%;
  }
  .sideArea {
     position: absolute;
     left: 12rem;
     width: 75vw; 
  }
  .sideAreaContent {
    margin-top: 0.5rem;
  }
 .poster {
  display: none;
 }
} */
@media screen and (max-width: 800px) {
  .maincontainer {
    display: grid;
    grid-template-columns: 1fr;
    
  }
  
  .sideArea {
   
    left: 1rem;
    width: 97vw;  
 }

}

.innerContainer {
  width: 30%;
}
.section {
  width: 100%;
  margin: 0;
}
